body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  color: #ecf0f1;
  background-image: url('https://s3.amazonaws.com/rapidnpv/mountain-1.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
}

.negativeInputMsg {
  display: none;
  position: absolute;
  margin-top: 85px;
  font-size: 0.9em;
  margin-left: 250px;
  color: rgba(236, 240, 241,1.0);
}

.show {
  display: block;
}

.inputError {
  border-color: rgba(231, 76, 60,0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(231, 76, 60,0.8);
  outline: 0 none;
}

input[type="text"]:focus, input[type="number"]:focus {   
}

/*.btn-primary {
  color: rgba(44, 62, 80,1.0) !important;
  background-color: rgba(236, 240, 241,1.0) !important;
  border-color: rgba(236, 240, 241,1.0) !important;
}*/

.submit {
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.submit:active {
  padding-top: 15px;
  margin-bottom: -1px;
}

.submit, .submit:hover, .submit:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}

.submit {
  background-color: rgba(26, 188, 156,1.0);
  box-shadow: 0px 3px 0px 0px rgba(22, 160, 133,1.0);
}
.submit:hover {
  background-color: rgba(26, 188, 156,1.0);
}
.submit:active {
  box-shadow: 0px 1px 0px 0px rgba(22, 160, 133,1.0);
}

.alert-danger {
  color: rgba(236, 240, 241,1.0) !important;
  font-weight: 500;
  background-color: rgba(231, 76, 60,0.8) !important;
  border: none !important;
}
.alert-success {
  font-weight: 500;
  color: rgba(236, 240, 241,1.0) !important;
  background-color: rgba(26, 188, 156,0.8) !important;
  border: none !important;
}


th {
  border-bottom: none !important;
}

th {
  padding-left: 30px !important;
  font-weight: 300;
  font-size: 1.1em;
}

.filter {
  opacity: 0.4;
  background-color: #e74c3c;
}

thead {
  border-bottom: none !important;
}

td:before {
  content: '$';
  color: black;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}
td:nth-child(1):before {
  content: '' !important;
}

#results {
  font-size: 1.2em;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.container p {
  font-size: 1.1em;
  margin-top: -10px;
  margin-bottom: 80px;
}

.logo {
  margin-top: 50px;
}

.logo span{
  color: rgba(26, 188, 156,1.0);
  text-shadow: 0px 1px rgba(26, 188, 156,0.6);
}

button{
  width: 50%;
  margin: auto 25%;
  margin-top: 50px;
  border:none !important;
}

#status {
  margin-top: 10%;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
}

.form-control {
  width: 80% !important;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

input[type=number]::-webkit-inner-spin-button, 
     input[type=number]::-webkit-outer-spin-button { 
     -webkit-appearance: none; 
      margin: 0; }

