body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  color: #ecf0f1;
  background-image: url('https://s3.amazonaws.com/rapidnpv/mountain-1.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
}

th {
  padding-left: 30px !important;
  font-weight: 300;
}

.filter {
  opacity: 0.4;
  background-color: #e74c3c;
}

thead {
  border-bottom: none !important;
}

td:before {
  content: '$';
  color: black;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}
td:nth-child(1):before {
  content: '' !important;
}

#results {
  font-size: 1.2em;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.container p {
  font-size: 1.1em;
  margin-top: -10px;
  margin-bottom: 50px;
}

.logo {
  margin-top: 50px;
}

button{
  width: 50%;
  margin: auto 25%;
  border-radius: 0px !important;
}

#status {
  margin-top: 10%;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
}

.form-control {
  width: 80% !important;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}
